extends: default.liquid
title: Rust Language Server 
--- 
<h1>Welcome to the Rust IDE and editor setup guide</h1>

<p>The Rust Language Server (RLS) provides a standard interface for IDEs,
editors and tools to interact with Rust. For users it provides a hassle free
way to getting Rust to work with your favourite IDE or editor.</p>

<p>If you haven't picked an editor, we highly recommend you use [Visual Studio
Code](http://code.visualstudio.com/) as this has the smoothest user experience
and is being actively developed by the team behind RLS.</p>


{{ include "_editors/vscode.liquid" }}

<h1>Do you have another editor?</h1>

Here are setup instructions for other editors.

<ul>
    <li><a href="#neovim">Neovim</a></li>
    {% comment %} disabled until I can get it working... <li><a href="#atom">Atom</a></li> {% endcomment %}
    <li>Atom</li> 
    <li>gnome builder</li> 
    <li>emacs</li> 
    <li>eclipse</li> 
</ul>


{{ include "_editors/neovim.liquid" }}


{% comment %} {{ include "_editors/atom.liquid" }} {% endcomment %}
<p>
<!-- HACK: bit of white space so last editor doesn't get mudged up with the previous one -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</p>

