extends: default.liquid
title: Rust Language Server 
--- 
<h1>Welcome to the Rust Language Server editor setup guide!</h1>

<p>We're making this the one stop shop for setting up your favourite code editor
with the Rust Language Server (or RLS for short).</p>

<p>If you haven't already installed RLS, please see <a href="/install/">this</a> guide.</p>

<h1>Which editor do you have?</h1>

<ul>
    <li><a href="#vscode">Visual Studio Code</a></li>
    <li><a href="#neovim">Neovim</a></li>
    <li>atom</li>
    <li>gnome builder</li>
    <li>emacs</li>
    <li>eclipse</li>
</ul>

<a name="vscode"></a>

<h1>Visual Studio Code</1h>

<h2>Installation</h2>

<em>Warning: these instructions are subject change once the extension has been
submitted to the Visual Studio Marketplace. The current Visual Studio Code
extension is currently considered a reference extension.</em>

<p>To install the extension you will need a recent version of
<a href="https://nodejs.org/en/">node</a>.</p>

<p>Run the following commands:</p>

<pre style="background-color:#2b303b;">
<span style="background-color:#2b303b;color:#c0c5ce;">git clone https://github.com/rust-lang-nursery/rls-vscode</span>
<span style="background-color:#2b303b;color:#c0c5ce;">cd rls-vscode</span>
<span style="background-color:#2b303b;color:#c0c5ce;">npm install</span>
<span style="background-color:#2b303b;color:#c0c5ce;">code .</span>
</pre>

<p>VSCode will open into the <code>rls-vscode</code> project.  From here, click the Debug
button on the left-hand side (a bug with a line through it). Next, click the
green triangle at the top.  This will launch a new instance of VSCode with the
<code>rls-vscode</code> plugin enabled. VSCode setting <code>"window.openFoldersInNewWindow"</code>
cannot be set to <code>"on"</code>. From there, you can open your Rust projects using
the RLS.</p>

<h2>Verifying RLS is functioning</h2>

<p>You'll know it's working when you see this in the status bar at the bottom, with
a spinning indicator:</p>

<p><code>RLS analysis: working /</code></p>

<p>Once you see (this may take a while if you have a big project):</p>

<p><code>RLS analysis: done</code></p>

<a name="neovim"></a>
<h1>Neovim</h1>

<p>neovim, like vim uses plugins. The plugin we'll be using is 
LanguageClient-neovim which is a Language Server Client so this means it
support any programming languages that implement the LSC protocol.</p>

<p>You'll need a recent version of python (v3) and we'll assume you're using 
vim-plug plugin manager. Otherwise you can find instructions <a href="https://github.com/junegunn/vim-plug">here</a>.</p>

<ol>
<li> - install python support for neovim: <code>sudo pip3 install --upgrade neovim</code></li>
<li> - edit your vimrc and add the following lines: 
<p>
<pre style="background-color:#2b303b;">>
<span style="background-color:#2b303b;color:#c0c5ce;">Plug 'autozimu/LanguageClient-neovim', { 'do': ':UpdateRemotePlugins' }</span>
<span style="background-color:#2b303b;color:#c0c5ce;"></span>
<span style="background-color:#2b303b;color:#c0c5ce;">" Required for operations modifying multiple buffers like rename.</span>
<span style="background-color:#2b303b;color:#c0c5ce;">set hidden</span>
<span style="background-color:#2b303b;color:#c0c5ce;"></span>
<span style="background-color:#2b303b;color:#c0c5ce;">let g:LanguageClient_serverCommands = {</span>
<span style="background-color:#2b303b;color:#c0c5ce;">    \ 'rust': ['rustup', 'run', 'nightly', 'rls'],</span>
<span style="background-color:#2b303b;color:#c0c5ce;">    \ }</span>
<span style="background-color:#2b303b;color:#c0c5ce;"></span>
<span style="background-color:#2b303b;color:#c0c5ce;">" Automatically start language servers.</span>
<span style="background-color:#2b303b;color:#c0c5ce;">let g:LanguageClient_autoStart = 1</span>
<span style="background-color:#2b303b;color:#c0c5ce;"></span>
<span style="background-color:#2b303b;color:#c0c5ce;">nnoremap <silent> K :call LanguageClient_textDocument_hover()<CR></span>
<span style="background-color:#2b303b;color:#c0c5ce;">nnoremap <silent> gd :call LanguageClient_textDocument_definition()<CR></span>
<span style="background-color:#2b303b;color:#c0c5ce;">nnoremap <silent> <F2> :call LanguageClient_textDocument_rename()<CR></span>
</pre>
</p>
</li>

<li> - in a shell run the following to install the plugin <code>nvim +PlugInstall +UpdateRemotePlugins +qa</code></li>
</ol>



