extends: default.liquid
title: Rust Language Server
---
<h2>Which editor do you use?</h2>

<ul>
	<li><a href="/vscode/index.html">vscode</a></li>
	<li><a href="/neovim/index.html">neovim</a></li>
	<li>atom</li>
	<li>gnome bulder</li>
</ul>
