extends: default.liquid
title: Rust Language Server
---
<h2>Which editor do you use?</h2>

<ul>
	<li><a href="/vscode/index.html">Visual Studio Code</a></li>
	<li><a href="/neovim/index.html">neovim</a></li>
	<li>atom</li>
	<li>gnome builder</li>
</ul>
