extends: default.liquid
title: Rust Language Server 
--- 
<h1>Welcome to the Rust Language Server editor setup guide!</h1>

<p>We're making this the one stop shop for setting up your favourite code editor
with the Rust Language Server (or RLS for short).</p>

<p>If you haven't already installed RLS, please see <a href="/install/">this</a> guide.</p>

<h1>Which editor do you have?</h1>

<ul>
    <li><a href="#vscode">Visual Studio Code</a></li>
    <li><a href="#neovim">Neovim</a></li>
    {% comment %} disabled until I can get it working... <li><a href="#atom">Atom</a></li> {% endcomment %}
    <li>Atom</li> 
    <li>gnome builder</li> 
    <li>emacs</li> 
    <li>eclipse</li> 
</ul>

{{ include "_editors/vscode.liquid" }}

{{ include "_editors/neovim.liquid" }}


{% comment %} {{ include "_editors/atom.liquid" }} {% endcomment %}
<p>
<!-- HACK: bit of white space so last editor doesn't get mudged up with the previous one -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

</p>

