<a id="atom"></a>
<h1>Atom</h1>

<h2>Requirements</h2>

<ul>
  <li>
    <a href="https://atom.io/packages/languageserver-rust">languageserver-rust</a>
  </li>
  <li>
    <a href="https://nuclide.io/">Nuclide</a>
  </li>
</ul>
