<a id="editor"></a>     <!-- update this value -->
<h1>Editor</h1>         <!-- update this value -->

<p><!-- add instructions here -->

<pre class="snippet"><span>ls -l</span></pre> <!-- example of a single line code snippet -->

<!-- example of a multi line code snippet -->
<pre class="snippet"> 
<span>ls -l | \
wc -l | \
awk '{print $1}'</span>
</p>
