<a id="emacs"></a>
<h1>Emacs</h1>

<p>
Installation: https://www.emacswiki.org/emacs/EmacsForMacOS#toc14<br />
RLS: https://christian.kellner.me/2017/05/31/language-server-protocol-lsp-rust-and-emacs/<br />

<pre class="snippet"><span>ls -l</span></pre> <!-- example of a single line code snippet -->

<!-- example of a multi line code snippet -->
<pre class="snippet"> 
<span>ls -l | \
wc -l | \
awk '{print $1}'</span>
</p>
