<h1>Visual Studio Code</h1>

<p>To setup Visual Studio Code to use RLS:<br />

<ul>
<li><a href="http://rustup.rs/">rustup</a> should already installed</li>
<li>install the <a
href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust">Rust
(rls)</a> extension.</li>
</ul>
</p>

<p>You can do this using the command palette (CMD/CTRL + SHIFT + P)
<pre class="snippet"><span>ext install rust</span></pre>
</p>

<p>If you don't have the nightly version of rust or RLS installed the extension will
offer to install it for you.</p>

<h2>Functionality</h2>

<p>RLS is active and analysing your project<br />
<a class="animated-screencap">
    <img src="img/vscode-analyse.png" />
    <img src="img/vscode-analyse.gif" />
</a>

<div class="row">
    <div class="col-xs-8 col-sm-6 screencap">
        Hover</br>
        <a class="animated-screencap">
            <img src="img/vscode-hover.png" width="415"/>
            <img src="img/vscode-hover.gif" width="415"/>
        </a>
    </div>
    <div class="col-xs-8 col-sm-6 screencap">
        Goto Symbol</br>
        <a class="animated-screencap">
            <img src="img/vscode-symbol.png" width="415"/>
            <img src="img/vscode-symbol.gif" width="415"/>
        </a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-4 col-sm-6 screencap">
        Peek</br>
        <a class="animated-screencap">
            <img src="img/vscode-peek.png" width="415"/>
            <img src="img/vscode-peek.gif" width="415"/>
        </a>
    </div>
    <div class="col-xs-4 col-sm-6 screencap">
        Goto Defintion</br>
        <a class="animated-screencap">
            <img src="img/vscode-gotodef.png" width="415"/>
            <img src="img/vscode-gotodef.gif" width="415"/>
        </a>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-8 col-sm-6 screencap">
        Format Document<br />
        <a class="animated-screencap">
            <img src="img/vscode-format.png" width="415"/>
            <img src="img/vscode-format.gif" width="415"/>
        </a>
    </div>
    <div class="col-xs-4 col-sm-6 screencap">
        Code Completion<br />
        <a class="animated-screencap">
            <img src="img/vscode-completion.png" width="415"/>
            <img src="img/vscode-completion.gif" width="415"/>
        </a>
    </div>
</div>