<h1>Visual Studio Code</h1>

<h2>Requirements</h2>

<ul>
<li><a href="http://rustup.rs/">rustup</a></li>
<li><a
href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust">Rust
(rls)</a> (<code>ext install rust</code>)</li>
</ul>
</p>

<p>The extension will offer to install any needed dependencies.</p>

<h2>Functionality</h2>

<p>RLS is active and analysing your project<br />
<img src="img/vscode-analyse.gif" />


<div class="row">
    <div class="col-xs-8 col-sm-6 screencap">
        Hover</br>
        <img src="img/vscode-hover.gif" width="415"/>
    </div>
    <div class="col-xs-8 col-sm-6 screencap">
        Goto Symbol</br>
        <img src="img/vscode-symbol.gif" width="415"/>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-4 col-sm-6 screencap">
        Peek</br>
        <img src="img/vscode-peek.gif" width="415"/>
    </div>
    <div class="col-xs-4 col-sm-6 screencap">
        Goto Defintion</br>
        <img src="img/vscode-gotodef.gif" width="415"/>
    </div>
</div>

<br />

<div class="row">
    <div class="col-xs-8 col-sm-6 screencap">
        Format Document<br />
        <img src="img/vscode-format.gif" width="415"/>
    </div>
    <div class="col-xs-4 col-sm-6 screencap">
        Code Completion<br />
        <img src="img/vscode-completion.gif" width="415"/>
    </div>
</div>