<h1>Visual Studio Code</h1>

<p>To setup Visual Studio Code to use RLS:<br />

<ul>
<li><a href="http://rustup.rs/">rustup</a> should already installed</li>
<li>install the <a
href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust">Rust
(rls)</a> extension.</li>
</ul>
</p>

<p>You can do this using the command palette (CMD/CTRL + SHIFT + P)
<pre class="snippet"><span>ext install rust</span></pre>
</p>

<p>If you don't have the nightly version of rust or RLS installed the extension will
offer to install it for you.</p>