<a name="vscode"></a>

<h1>Visual Studio Code</h1>

<p>To setup Visual Studio Code to use RLS, you need to install the <a
href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust">Rust (rls)</a> extension.</p>


<p>You can do this using the command pallette:</p>

<pre class="snippet">
<span>ext install rust</span>
</pre>