<h1>Visual Studio Code</h1>

<p>To setup Visual Studio Code to use RLS:<br />

<ul>
<li><a href="http://rustup.rs/">rustup</a> should already installed</li>
<li>install the <a
href="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust">Rust
(rls)</a> extension.</li>
</ul>
</p>

<p>You can do this using the command pallette (CMD/CTRL + P)
<pre class="snippet"><span>ext install rust</span></pre>
</p>

<p>If you don't have the nightly version of rust or RLS installed the extension will
offer to install it for you.</p>

<h2>Functionality</h2>

<p>RLS is active and analysing your project<br />
<img src="img/vscode-analyse.gif" />

<p>Hover<br />
<img src="img/vscode-hover.gif" width="500"/>
</p>

<p>Goto Defintion<br />
<img src="img/vscode-godef.gif" width="500"/>
</p>

<p>Goto Symbol<br />
<img src="img/vscode-symbol.gif" width="500"/>
</p>

<p>Format Document<br />
<img src="img/vscode-format.gif" width="500"/>
</p>

<p>Code Completion<br />
<img src="img/vscode-completion.gif" width="500"/>
</p>
