<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/style.css">
        {% if is_post %}
          <title>{{ title }}</title>
        {% else %}
       	  <title>Rust Language Server WebSite</title>
        {% endif %}
  </head>
  <body class="container">
    <a href="https://github.com/booyaa/rustlangserver.github.io">
      <img class="ribbon" style="display: none" src="/logos/forkme.svg" alt="Fork me on GitHub" width="298" height="298">
    </a>

    <header>
      <ul class="row menu">
        <li class="col-xs-12 col-md-2">
                <a href="/index.html">
                  <img class="img-responsive" src="/logos/rust-logo-blk.svg" onerror="this.src='/logos/rust-logo-256x256-blk.png'" height="128" width="128" alt="Rust logo" />
                </a>
        </li>
        <li class="col-xs-12 col-md-10 menu">          
          <h2><a href="/index.html">About</a></h2>
          <h2><a href="/pre-reqs/index.html">Install</a></h2>
          <h2><a href="/editors/index.html">Editors</a></h2>
          <h2><a href="/pre-reqs/index.html">Support</a></h2>
        </li>
      </ul>
    </header> 
    {% if is_post %}
      {% include '_layouts/post.liquid' %}
    {% else %}
      {{ content }}
    {% endif %}
  </body>
</html>
